.BlogDetail {
    .content {
        padding: 30px 0;

        p {
            display: block;
        }

        img {
            width: 100%;
            padding: 40px 30%;
            text-align: center;
        }
    }
}