.wishlist-container {
    .content {
        padding: 25px 0 75px;

        .title {
            font-weight: 600;
            color: #121823;
            line-height: 1.4;
            font-size: 30px;
            margin: 10px 0 30px;
        }

        table {
            width: 100%;
            margin-bottom: 24px;
            text-align: left;
            border-collapse: collapse;
            border: 1px solid #eaeaea;

            thead {
                tr {
                    th {
                        border: none;
                        padding: 16px 12px;
                        text-transform: capitalize;
                        color: #fff;
                        background-color: #04AA6D;
                        letter-spacing: 1px;
                    }

                    .thumbnail {
                        width: 80px;
                    }

                    .remove {
                        width: 60px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border: none;
                        padding: 16px 12px;
                        text-transform: capitalize;

                        p {
                            width: fit-content;
                            margin: 0;
                            cursor: pointer;
                        }
                    }

                    .thumbnail {
                        max-width: 80px;

                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                    }

                    .remove {
                        i {
                            padding: 10px;
                            cursor: pointer;

                            &:hover {
                                color: red;
                            }
                        }
                    }
                }

                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }

                tr:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    .no-cart {
        text-align: center;
        padding: 120px 0;

        h3 {
            margin: 26px 0 20px;
            color: rgba(0, 0, 0, .4);
            font-size: 24px;
        }

        .btn {
            color: #fff;
            background-color: rgb(241, 142, 125);
            font-size: 16px;
            font-weight: 600;
            padding: 15px 25px;
            border-radius: 5px;
            text-transform: uppercase;
        }
    }
}